@import "../../App.css";

.navbar {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}

.container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  margin-right: 3rem;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.itemContainer .icon {
  font-size: 1.5rem;
  font-weight: 700;
}

.itemContainer span {
  font-size: 1rem;
  font-weight: 600;
}

/* .right {
  position: relative;
} */

.right .hamburger {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* position: absolute;
  right: 2rem;
  bottom: -0.7rem; */
}

.hamburger span {
  width: 100%;
  height: 0.3rem;
  background-color: var(--mainColor);
  transform-origin: left;
  transition: all 2s ease;
}

/* Upon clicking hamburger, we change hamburger to cross */

.active {
  background-color: var(--mainColor);
  color: white;
}

.active .hamburger {
  scrollbar-width: none; /* firefox*/
}

.active .hamburger::-webkit-scrollbar {
  display: none;
}
.active .hamburger span:first-child {
  background-color: white;
  transform: rotate(45deg);
}

.active .hamburger span:nth-child(2) {
  opacity: 0;
}

.active .hamburger span:last-child {
  background-color: white;
  transform: rotate(-45deg);
}
